.parent{
    border: 5px solid rgb(99, 4, 4);
    height: 600px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    /* align-items: center; */
}
.same{
    height: 100px;
    width: 100px;
}
#one{
    background-color: hsl(282, 65%, 32%);
    /* flex-grow: 1; */
    flex-shrink: 1;
}
#two{
    background-color: rgb(177, 51, 205);
    /* flex-grow: 2; */
    flex-shrink: 2;
}
#three{
    background-color: rgb(228, 66, 231);
}
#four{
    background-color: rgb(206, 126, 226);
}
 /* p{
    border: solid black;
    max-width: 400px;
    margin: auto;
 } */