div{
    height: 100px;
    width: 100px;
    border-radius: 50%;
   background: linear-gradient(rgb(127, 13, 127),rgb(31, 17, 131));
    transform: rotate(180deg);
   animation-name: ball;
   animation-duration: 700ms;
   animation-iteration-count: infinite;
   animation-timing-function:ease-in ;
   margin: auto;
   animation-direction: alternate;
   border: solid ;
   
}
/* img{
    border-radius: 50%;
} */
@keyframes ball{
    0%{
        /* margin-top: 1px; */
        transform: translatey(0px);
    }
    
100%{
    /* margin-top:500px ; */
    transform: translateY(80vh) rotate(360deg);
}
}